# Root URL of the resolver, without trailing /, and with scheme.
BASE_URL = "http://www.resolver.be"

DATABASE_HOST = "localhost"
DATABASE_USER = "root"
DATABASE_PASS = ""
DATABASE_NAME = "resolver"

SECRET_KEY = "random-value"
SALT = "different-random-value"
