{% from "_formhelpers.html" import render_field %}
{% extends "resolver/layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add entity</h3>
      </div>
      <div class="panel-body">
        <form action="/resolver/entity" method="POST" role="form" class="form-horizontal">
          <div class="form-group">
            {{ render_field(form.id, placeholder="ID") }}
          </div>
          <div class="form-group">
            {{ render_field(form.title, placeholder="Title") }}
          </div>
          <div class="form-group">
            {{ render_field(form.type) }}
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              {{ form.csrf_token }}
              <button type="submit" class="btn btn-default">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-group">
      <li class="list-group-item disabled">
        <h3 class="panel-title">Entities</h3>
      </li>
      {% for entity in entities %}
      <li class="list-group-item"><a href="/resolver/entity/{{ entity.id }}">
          {% if entity.title %}{{ entity.title }}
          {% else %}<em>Untitled</em>{% endif %}</a>
        <a href="/resolver/entity/delete/{{ entity.id }}"><span class="glyphicon glyphicon-remove"></span></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
