{% from "_formhelpers.html" import render_field %}
{% extends "admin/layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit document</h3>
      </div>
      <div class="panel-body">
        <form action="/admin/document/edit/{{ document.id }}" method="POST" role="form" class="form-horizontal">
          <div class="form-group">
            {{ render_field(form.url, placeholder="URL") }}
          </div>
          <div class="form-group">
            {{ render_field(form.type) }}
          </div>
          <div class="form-group">
            {{ render_field(form.enabled) }}
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              {{ form.csrf_token }}
              <button type="submit" class="btn btn-default">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
