{% from "_formhelpers.html" import render_field %}
{% extends "admin/layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About object</h3>
      </div>
      <div class="panel-body">
        Title: {{ object.title }}<br>
        Type: {{ object.type|capitalize }}
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item disabled">
        <h3 class="panel-title">Documents</h3>
      </li>
      {% for document in documents %}
      <li class="list-group-item">
        <a href="/admin/document/{{ document.id }}">{{ document.type }}</a>
        <a href="{{ document.url }}" target="_blank"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        <a href="/admin/document/delete/{{ document.id }}"><span class="glyphicon glyphicon-remove"></span></a>
      </li>
      {% endfor %}
    </ul>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add document</h3>
      </div>
      <div class="panel-body">
        <form action="/admin/object/{{ object.id }}" method="POST" role="form" class="form-horizontal">
          <div class="form-group">
            {{ render_field(form.url, placeholder="URL") }}
          </div>
          <div class="form-group">
            {{ render_field(form.type) }}
          </div>
          <div class="form-group">
            {{ render_field(form.enabled) }}
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              {{ form.csrf_token }}
              <button type="submit" class="btn btn-default">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
      </div>
      <div class="panel-body">
        <a href="/admin/object/edit/{{ object.id }}" class="btn btn-primary">Edit</a>
        <a href="/admin/object/delete/{{ object.id }}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
