Source: resolver
Section: main
Priority: optional
Maintainer: Pieter De Praetere <pieter@packed.be>
Build-Depends:	debhelper (>= 9),
		python,
		dh-python,
		python-setuptools
Standards-Version: 3.9.4
Homepage: https://github.com/PACKED-vzw/resolver
X-Python-Version: >= 2.7
#Vcs-Git: git://git.debian.org/collab-maint/resolver.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/resolver.git;a=summary

Package: resolver
Architecture: all
Depends:	${misc:Depends},
		python-beautifulsoup,
		python-flask,
		python-flask-sqlalchemy,
		python-flaskext.wtf,
		python-jinja2,
		python-markupsafe,
		python-mysqldb,
		python-sqlalchemy,
		python-unidecode,
		python-wtforms,
		python-werkzeug,
		gunicorn,
		python-itsdangerous,
		python-requests,
		python-wsgiref,
		dbconfig-common,
		apache2,
		supervisor,
		${python:Depends}
Recommends:	mysql-client
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
