#!/usr/bin/make -f
# -*- makefile -*-

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2

#override_dh_auto_install:
#	python setup.py install --root=debian/resolver --install-layout=deb --install-lib=/usr/share/resolver --install-scripts=/usr/share/resolver
#override_dh_auto_build:
